@{
	//Layout = "~/Views/Shared/_LayoutAdmin.cshtml/";
}
@using CoreMVC.UI.Controllers
@using CoreMVC.UI.Models.VM
@model Tuple<MyData,Personel>

<h4>Hüsamettin Cindoruk</h4>

@Model.Item1.username
<br/>
@Model.Item2.Ad